.main__chatcontent {
  position: relative;
  flex-grow: 1;
  padding: 20px 40px;
  max-width: 75%;
  border-right: 1px solid #ebe7fb;
}
.template_text{
   font-size: 20px;
   color: #9c9393;
   border: 1px solid #9c9393;
   padding: 1%;
   border-radius: 8px;
}
.template_text:hover{
  color: black;
  cursor: pointer;
  text-decoration: underline;
  border: 1px solid;
}
.another_template{
  font-size: 20px;
    font-weight: 700;
    color: grey;
}
.another_template:hover{
  font-size: 21px;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}
.content__header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebe7fb;
}
.current-chatting-user {
  display: flex;
  align-items: center;
}
.current-chatting-user p {
  margin: 0;
  font-weight: 600;
}
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings .btn-nobg {
  color: #000;
}
.content__body {
  max-height: calc(100vh - calc(100vh / 2));
  overflow: auto;
}
.chat__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
}

@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.chat__item .avatar {
  margin-right: 0px;
  margin-left: 20px;
  background: #fff;
  padding: 1px;
}
.chat__item__content {
 
  padding: 15px;
  border-radius: 10px 10px 0 10px;
  max-width: 50%;
  min-width: 215px;
}
.chat__item__content .chat__meta {
  justify-content: end;
  display: flex;
  margin-top: 10px;
}
.chat__item__content .chat__meta span {
  font-size: 14px;
  color: #8693d3;
  user-select: none;
}
.chat__msg {
  user-select: none;
}

.chat__item.customer {
  flex-direction: row-reverse;
  transform-origin: left;
}
.chat__item.other .chat__item__content {
  background-color: #fff;
  color: #000;
  border-radius: 10px 10px 10px 0;
  max-width: 50%;
}
.chat__item.other .avatar {
  margin-right: 20px;
  margin-left: 0px;
}
.chat__item.other .chat__item__content .chat__meta span {
  color: #d1d1d1;
}
.content__footer {
  padding-top: 30px;
  position: absolute;
    bottom: 0;
    width: 95%;
}
.sendNewMessage {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}
.sendNewMessage button {
  width: 36px;
  height: 36px;
  background-color: #ecefff;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #4665ff;
  padding: 0;
  border-radius: 5px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}
.sendNewMessage button:hover {
  transform: scale(1.2);
}
.sendNewMessage button i {
  display: block;
}
.sendNewMessage input {
  flex-grow: 1;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  outline: none;
}
#sendMsgBtn {
  background-color: #000;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  width: 80px;
}
.sendNewMessage_textArea{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}
@media screen and (min-width:641px) and (max-width:991px){
  .main__chatcontent{
    padding: 0px 0 15px 15px;
    border-right: none;
   ;
  }
  .content__header{
    padding-bottom: 5px;
  }
  .content__body{
    margin-top: 15px;
  }
  .chat__item__content .chat__meta{
    margin-top: 5px;
  }
  .chat__item__content .chat__meta span{
    font-size: 11px;
  }
  .chat__item__content{
    padding: 10px;
  }
  .chat__item .avatar{
    margin-left: 5px;
    width: 20px;
    height: 20px;
  }
  .chat__msg{
    font-size: 15px;
  }
  .template_text{
    font-size: 16px;
  }
  #sendMsgBtn{
    margin-left: 10px;
  }
  .sendNewMessage_textArea{
   padding:10px 0;
  }
}
@media screen and (max-width:640px){
  .main__chatcontent{
    max-width: 100%;
    height: 100%;
    padding: 0;
    border: none;
  }
  .chat__item .avatar{
    margin-left: 5px; 
  }
  .content__body{
    margin-top: 15px;
  }
  .template_text{
    font-size: 13px;
  }
  .chat__item__content{
    padding: 7px 10px;
  }
  .chat__item__content .chat__meta span{
    font-size: 12px;
  }
  .chat__item .avatar{
    width: 20px;
    height: 20px;
  }
}